/*-- scss:defaults --*/

$primary: #008080;      // Teal
$secondary: #f4a261;    // Warm Sand
$success: #2a9d8f;      // Turquoise
$info: #00b4d8;         // Light Blue
$warning: #f77f00;      // Deep Orange
$danger: #e63946;       // Soft Red

$body-bg: #fdfdfd;      // Light Off-White Background
$body-color: #333333;   // Dark Gray Text
$navbar-light-color: #008080;
$navbar-light-hover-color: #2a9d8f;
$navbar-light-active-color: #f4a261;